{% extends "layout.twig" %}


{% block body %}
    {% include 'templates/header.html' %}

    <div class="container col-md-12">

        <form method="get" action={{ app.url_generator.generate('GET_') }}>
                <div class="container col-lg-3"></div>
                <button class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home </button>

        </form>

        <div class="form-group col-lg-3"></div>
        <div class="form-group col-lg-6 img-thumbnail"  id="article">
            <h1><center><b>{{ article.getTitre() }}</b></center></h1>
            <img src={{ article.getImage() }} alt="Picture" class="img-thumbnail col-lg-12" width=auto height=auto style="margin-left: auto; margin-right: auto; width="100%">

            <h4 align="justify">{{ article.getTexte() }}</h4>
            <div class="form-group col-lg-10"></div>

            <a class ="btn btn-danger" href={{ app.url_generator.generate('GET_remove_index', {'index':article.getId()}) }}>supprimer </a>

            {% for Comments in Comment %}
                <div class="container col-md-12">
                    <b>{{ Comments.getPseudo() }}</b>
                    <pre> {{ Comments.getTexteCom() }}</pre>
                    <a class ="btn btn-danger" href={{ app.url_generator.generate('GET_removeCom_index', {'index':Comments.getId()}) }}>supprimer </a>
                </div>
            {% endfor %}

            <form method="post" action={{ app.url_generator.generate('POST_comments_index', {'index':article.getId()}) }}>


                <div class="container col-lg-12">
                    <div class="form-group">
                        <label for="input-default"><h2>Pseudo:</h2></label>
                        <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo">
                    </div>

                    <div class="form-group">
                        <label for="text"><h2>Post comment:</h2></label>
                        <textarea class="form-control" id="contenu_com" name="contenu_com" placeholder="Comment" rows="5"></textarea>
                    </div>

                    <button class ="btn btn-success">Poster mon commentaire</button>
                </div>
            </form>
        </div>
    </div>

    {% include 'templates/footer.html' %}
{% endblock %}